<h6><strong><%= event.name %></strong>:<br><em> <a class="link_from_map" href="https://www.google.com/maps/place/Ch%C3%A2teau+Bayard/@50.5195508,4.5211981,8.44z/data=!4m5!3m4!1s0x47c19dfdb34ebd33:0x42deba4637fd2a96!8m2!3d50.5694298!4d4.8577842"><%= event.address.downcase.capitalize %></a></em></h6>
