<p>Bonjour,</p>

<p>Nous te confirmons l'envoi de ta réponse et nous t'en remercions.</p>

<p>Nous esperons que celle-ci est positive et que nous te verrons en pleine forme pour une soirée de folie.</p>

<p>Camille, Clémence et leur Parents</p>
