// body {
//   overflow-x: hidden;
//   width: 100vw;
// }

.map-cont-small {
  position: relative;
  top: 0;
  bottom: 0;

  height: 100vh;
  width: 100vw;

  z-index: 2;

}

.map-small-bg {
  position: absolute;
  top: 9vh;
  bottom: 0;

  width: 100vw;

  z-index: 1;
}

.map-small-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mapboxgl-popup-anchor-top, .mapboxgl-popup-tip {
  border-top-color: #F4F4F4 !important;
}

.mapboxgl-popup-content {
  color: #080808;
  padding: unset !important;

  background-color: #F4F4F4 !important;
  width: fit-content;
  height: fit-content;
  max-width: 180px;

  border-radius: 5px !important;
  padding: 10px 10px 3px 10px !important;

  font-family: 'Oswald', sans-serif;

  text-align: center;
  vertical-align: middle;
}

.mapboxgl-marker svg g {
  fill: rgba(0,0,0,0.75);
  cursor: pointer;
}

.map_placer {
  position: relative;
  top: 10vh;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-cont {
  position: relative;
  top: 8vh;
  height: 100%;
  width: 100vw;
  bottom: 90px;
}

.landing-fixed-background {
  position: fixed;
  top: 8vh;
  height: 95vh;
  width: 100vw;
}

.landing-fixed-background img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: 3;
}

.title-cont {
  position: absolute;
  top: 25vh;
  height: 75vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-ban {
  width: 100vw;
  display: flex;
  justify-content: center;


  font-family: $headers-font;
  font-size: 4rem;
  color: $light-gray;
}

.title-ban img {
  width: 75vw;
  height: 22vw;
}

// .next-sign {
//   width: 100vw;
//   display: flex;
//   justify-content: center;
// }

.next-sign img {
  width: 20vw;
  height: 20vw;
}

.invit-cont {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 31px;

  color: $text-color-light;
}

.invitation-img {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.background_dark_small {
  position: relative;
  background-color: rgba(0,0,0,0.3);
  z-index: 6;
  top: 100vh;
  height: 190vh;
  width: 100vw;
}

.invitation-img img {
  display: block;
  position: absolute;
  width: 100vw;
  height: 190vh;
  z-index: 5;
  top: 100vh;
  object-fit: fill;
}

.invit-txt-top-left {
  position: absolute;
  // background: green;
  width: 33vw;
  height: 22vh;
  left: 0px;
  top: 120vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 22px;
}

.invit-txt-top-right {
  position: absolute;
  // background: green;
  width: 33vw;
  height: 22vh;
  right: 0px;
  top: 120vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 22px;
}

.invit-txt-top-centre {
  position: absolute;
  // background: red;
  width: 100vw;
  height: 8vh;
  right: 0px;
  top: 140vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.first-letter {
  font-size: 1.6em;
  margin-bottom: 0.2em;
}

.invit-name-left {
  position: absolute;
  // background: purple;


  width: 40vw;
  height: 28vh;
  left: 0px;
  top: 148vh;
  z-index: 1100;

  font-size: 5em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-name-right {
  position: absolute;
  // background: purple;
  width: 40vw;
  height: 28vh;
  right: 0px;
  top: 148vh;
  z-index: 1100;

  font-size: 5em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link_from_map {
  color: $text-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.invit-logo {
  position: absolute;
  // background: blue;
  height: 28vh;
  width: 20vw;
  left: 40vw;
  top: 148vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
}

.invit-logo img {
  width: 9em;
  height: 9em;
}

.invit-date {
  position: absolute;
  // background: red;
  width: 100vw;
  height: 11vh;
  right: 0px;
  top: 177vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-bottom-left {
  position: absolute;
  // background: green;
  width: 33vw;
  height: 24vh;
  left: 0px;
  top: 187vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-bottom-centre {
  position: absolute;
  width: 34vw;
  height: 24vh;
  left: 33vw;
  top: 187vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-bottom-right {
  position: absolute;
  // background: green;
  width: 33vw;
  height: 24vh;
  right: 0px;
  top: 187vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  a {
    text-decoration: none;
    color: $text-color-light;
    cursor: text;
  }

  strong {
    text-decoration: underline;
    font-weight: 100;
    cursor: pointer;
  }
}

.invit-bottom-right a strong:hover {
  text-decoration: none;
}

.invit-groups {
  display: none;
  position: absolute;
  // background: red;
  width: 100vw;
  height: 8vh;
  right: 0px;
  top: 208vh;
  z-index: 1100;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;

  font-size: 0.7em;
}

.localisation-text {
  position: absolute;
  // background: gray;
  flex-direction: column;
  width: 50vw;
  height: 46vh;
  left: 0px;
  top: 212vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.event_address_small a {
  display: none;
  color: inherit;
  text-decoration: underline;
}

.localisation-map {
  position: absolute;
  width: 50vw;
  height: 46vh;
  right: 0px;
  top: 212vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#map {
  height: 34vh;
  width: 42vw;
  z-index: 1200;
}

.response-cont {
  position: absolute;
  // background: red;
  width: 100vw;
  height: 12vh;
  right: 0px;
  top: 258vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.response-cont a {
  color: $text-color-light;
  text-decoration: underline;
  &:hover {
    color: $text-color-light;
    text-decoration: none;
  }
}

.response-btn {
  color: $text-color-light;
  text-decoration: underline;
  &:hover {
    color: $text-color-light;
    text-decoration: none;
  }
}

.footer-land {
  // display: block;
  position: absolute;
  // left : 0px;
  top: 277vh;
  z-index: 6;
  // height: 90px;
  // width: 100vw;
  // padding: 29px 0px;
  // background-color: $background-dark;
  // color: $text-color-light;
  // text-align: center;
  // font-size: 0.7em;
  // z-index: 1000;
  .footer {
    background-color: transparent;
  }
}


@media screen and (max-width: 992px) {
  body {
    -webkit-overflow-scrolling: touch;
  }

  .title-ban img {
    top: 9vw;
  }

  .next-sign img {
    top: 42vw;
  }
}

@media screen and (max-width: 850px) {
  .title-cont {
    top: 12vh;
  }

  .invit-cont {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    line-height: 22px;
  }

  .title-ban {
    font-size: 3rem;
    text-align: center;
  }

  .background_dark_small {
    height: 168vh;
  }

  .invitation-img img {
    height: 168vh;
    object-fit: cover;
  }

  .invit-txt-top-left {
    top: 120vh;
    width: 50vw;
    font-size: 1.3em;
  }

  .invit-txt-top-right {
    top: 120vh;
    width: 50vw;
    font-size: 1.3em;
  }

  .invit-txt-top-centre {
    height: 11vh;
    top: 138vh;
    padding: 0 7vw;
  }

  .invit-name-left {
    font-size: 1.7em;
    top: 143vh;
  }

  .invit-logo {
    top: 143vh;
  }

  .invit-logo img {
    height: 7em;
    width: 7em;
  }

  .invit-name-right {
    font-size: 1.7em;
    top: 143vh;
  }

  .invit-date {
    height: 8vh;
    top: 169vh;
  }

  .invit-bottom-left {
    top: 176vh;
    width: 50vw;
    height: 20vh;
  }

  .invit-bottom-right {
    top: 176vh;
    width: 50vw;
    height: 20vh;
  }

  .invit-bottom-centre {
    padding-bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 16vh;
    top: 192vh;
  }

  .invit-groups {
    top: 200vh;
  }

  .localisation-map {
    display: none;
  }

  .event_address_small a {
    display: block;
  }

  .event_address_big {
    display: none;
  }

  .localisation-text {
    width: 100vw;
    top: 196vh;
    height: 48vh;
  }

  .response-cont {
    top: 235vh;
  }

  .response-cont a {
    font-size: 0.7em;
  }

  .footer-land {
    top: 254vh;
    color: $text-color-light;

    a {
      color: $text-color-light;
    }
  }

  .footer-land {
    z-index: 7;
    .footer {
      background-color: transparent;
      color: $text-color-light;
    }
  }

}

@media screen and (max-width: 400px) {

  .invit-cont {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    line-height: 22px;
  }

}








