#reponse-new {
  justify-content: unset;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

#remerciement-new {
  justify-content: unset;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.reponse_title_small {
  display: none;
}

.form-row {
  font-size: 0.9em;
}

.hide_small {
  display: none;
}

.close_msg_cont{
  color: $text-color-light;
  text-shadow: 0px 0px 15px #000;

  h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .reponse_title {
    display: none;
  }

  .close_msg_cont{
    display: flex;
    text-align: center;

    height: 86vh;
    padding: 20vh 20vw;

    color: $text-color-light;
    text-shadow: 0px 0px 11px #000;

    h3 {
      font-size: 1.5rem;
    }
  }

  .reponse_title_small {
    display: block;
  }

  .hide_small {
    display: block;
  }
}
