<div class="footer-cont">
  <div class="footer">
    <p> © 2021
      <a href="https://www.linkedin.com/in/lazar-istvan/" target="_blank">István Lázár</a>
       &
      <a href="https://www.linkedin.com/in/gauthier-wolters-406ba0142/" target="_blank">Gauthier Wolters</a>
    </p>
  </div>
</div>
