<!-- <div class="covid_message_cont">
 -->
  <div class="covid_message_cont">

    <div>
      <h1>INFORMATION COVID</h1>
    </div>

    <br>

    <div>
      <p>Chers amis,</p>
    </div>

    <br>

    <div>
      <p>
        Comme vous le savez tous, la situation du COVID change très régulièrement.
      </p>
    </div>

    <div>
      <p>
        Le gouvernement Belge a décidé de se rassembler le jeudi 23/09, pour parler du COVID SAFE TICKET (CST) pour l’Horeca et les évènements à partir du 1er octobre.
      </p>
    </div>

    <div>
      <p>Il y a de grande chance que ce CST soit donc obligatoire pour notre soirée.</p>
    </div>

    <div>
      <p>Nous vous prévenons que des contrôles de ce CST seront probablement fait à l’entrée de la soirée.</p>
    </div>

    <div>
      <p>Il faudra donc être muni d’une preuve officielle de vaccination, de test négatif ou de preuve de rétablissement via l’application CovidSafe.</p>
    </div>

    <div>
      <p>Si pour une raison ou une autre, vous n’avez pas ce CST le jour de la soirée nous ne pourrons pas vous laissez entrer.</p>
    </div>

    <div>
      <p>Si vous savez d’ores et déjà que vous ne viendrez pas à cause de cette mesure merci de nous prévenir au plus vite.</p>
    </div>

    <br>

    <div>
      <p>Au plaisir de vous revoir en toute sécurité,</p>
    </div>

    <br>

    <div>
      <p>A très bientôt,</p>
    </div>

    <br>

    <div>
      <p>Camille & Clémence</p>
    </div>

<!--   </div>
 -->
</div>
<%= render 'shared/footer' %>

