<div class="lift-cont">
  <div class="lift-bg">
    <%= cl_image_tag("sg9i5gxlqrjbdvxwgbr2") %>
  </div>
  <div class="photos-subcont">

      <div class="container">
        <div class="text-pictures">
          <a href="https://asyouwish.be/lesdelicesdegypte" target=_blank>Cliquez ici ! 📸 </a>
        </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
